services:
  rustfs:
    image: docker.io/rustfs/rustfs:latest
    container_name: rustfs
    restart: unless-stopped
    ports:
      # S3 API
      - "9000:9000"
      # Web Console
      - "9001:9001"
    volumes:
      - rustfs-data:/data
      # optional: TLS
      - ./certs:/certs:ro
      # optional: 自定义配置文件
      # - ./config:/etc/rustfs:ro

    environment:
      # 访问凭证
      RUSTFS_ACCESS_KEY: ${RUSTFS_ACCESS_KEY}
      RUSTFS_SECRET_KEY: ${RUSTFS_SECRET_KEY}
      # 是否启用 Web 控制台
      RUSTFS_CONSOLE_ENABLE: "true"
      # 对外域名
      # 支持单个域名或逗号分隔多个
      RUSTFS_SERVER_DOMAINS: "your-domain.com"
      # Log level
      RUSTFS_LOG: "info"
      # TLS
      RUSTFS_TLS_PATH: "/certs"
      RUSTFS_TLS_CERT: "server.crt"
      RUSTFS_TLS_KEY:  "server.key"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/rustfs/health/live" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    security_opt:
      - no-new-privileges:true

volumes:
  rustfs-data:
    driver: local
